@use 'variables.scss' as vars;

// 定义logo高度变量
$logoHeight: 50px;

.sidebar-container {
  // https://github.com/ElemeFE/element/issues/2912
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }

  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  .el-scrollbar__bar.is-vertical {
    right: 0;
  }

  .el-scrollbar {
    height: 100%;
  }

  &.has-logo {
    .el-scrollbar {
      height: calc(100% - #{$logoHeight});
    }
  }

  .is-horizontal {
    display: none;
  }

  a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  .svg-icon {
    margin-right: 16px;
  }

  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
  }

  // menu hover
  .submenu-title-noDropdown,
  .el-sub-menu__title {
    &:hover {
      background-color: vars.$menuHover !important;
    }
  }

  .is-active > .el-sub-menu__title {
    color: vars.$subMenuActiveText !important;
  }

  & .nest-menu .el-sub-menu > .el-sub-menu__title,
  & .el-sub-menu .el-menu-item {
    min-width: vars.$sideBarWidth !important;
    background-color: vars.$subMenuBg !important;

    &:hover {
      background-color: vars.$subMenuHover !important;
    }
  }
}

// 侧边栏菜单项样式
.el-sub-menu__title,
.el-menu-item {
  &:hover {
    background-color: vars.$menuHover;
  }
}

// 适配移动端
.mobile {
  .sidebar-container {
    transition: transform 0.28s;
    width: vars.$sideBarWidth !important;
  }

  &.hideSidebar {
    .sidebar-container {
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-#{vars.$sideBarWidth}, 0, 0);
    }
  }
}

.withoutAnimation {
  .sidebar-container {
    transition: none;
  }
}
