**/.dockerignore
**/.env
**/.git
**/.gitignore
**/*.md
**/.history
**/.vs
**/.vscode
**/bin
**/obj
**/publish
**/logs
**/data
**/secrets
**/TestResults
**/*.user
**/.DS_Store
**/node_modules
**/*.csproj.user
**/testoutput
