**/.dockerignore
**/.env
**/.git
**/.gitignore
**/*.md
**/.vs
**/.vscode
**/bin
**/obj
**/publish
**/logs
**/data
**/secrets
**/TestResults
**/*.user
**/.DS_Store
docker/secrets/*
!docker/secrets/.gitkeep
