<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>../../build/publish</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>66b6c9b3-cc2e-4e6e-bb35-3c97edf10f01</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
  <!-- 添加插件发布逻辑 -->
  <Target Name="PublishPlugins" AfterTargets="Publish">
    <PropertyGroup>
      <PluginsOutputPath>$(PublishDir)Plugins</PluginsOutputPath>
    </PropertyGroup>
    <MakeDir Directories="$(PluginsOutputPath)" />
    <ItemGroup>
      <PluginProjects Include="$(SolutionDir)src\Plugins\**\*.csproj" />
    </ItemGroup>
    <MSBuild Projects="@(PluginProjects)" Targets="Build" Properties="Configuration=$(Configuration)">
      <Output TaskParameter="TargetOutputs" ItemName="PluginAssemblies" />
    </MSBuild>
    <Message Importance="high" Text="Copying plugin files to $(PluginsOutputPath)" />
    <Copy SourceFiles="@(PluginAssemblies)" DestinationFiles="@(PluginAssemblies->'$(PluginsOutputPath)\%(Filename)\%(Filename)%(Extension)')" />
    <Message Importance="high" Text="Plugin files copied successfully" />
  </Target>
</Project>